<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100">

    {% if messages %}
    {% for message in messages %}
    {% if message.tags %}
    <script>alert("{{ message }}")</script> {% endif %}
    {% endfor %}
    {% endif %}
    <div class="flex justify-between items-center flex-wrap bg-gray-800 px-8">
        <!-- Sidebar Content -->
        <div class="fixed top-0 left-0 h-full bg-gray-800 text-white w-64 px-4 hidden" id="sidebar">
            <div class="flex flex-col items-start space-x-4 py-10">
                <button onclick="toggleSidebar()">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
                <br>
                <p onclick="showContent('home')"
                    class="cursor-pointer text-lg border-white hover:bg-gray-700 p-2 hover:underline">Home</p>
                <p onclick="showContent('user')"
                    class="cursor-pointer text-lg border-white hover:bg-gray-700 p-2 hover:underline">User Management
                </p>
                <p onclick="showContent('pending')"
                    class="cursor-pointer text-lg border-white hover:bg-gray-700 p-2 hover:underline">Pending Leaves</p>
                <p onclick="showContent('approved')"
                    class="cursor-pointer text-lg border-white hover:bg-gray-700 p-2 hover:underline">Approved Leaves
                </p>
                <p onclick="showContent('disapproved')"
                    class="cursor-pointer text-lg border-white hover:bg-gray-700 p-2 hover:underline">Disapproved Leaves
                </p>
                <p onclick="showContent('empleaves')"
                    class="cursor-pointer text-lg border-white hover:bg-gray-700 p-2 hover:underline">Employee Leaves
                </p>
                <!-- Add more sidebar links as needed -->
            </div>
        </div>
        <div class="text-white cursor-pointer" onclick="toggleSidebar()">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
            </svg>
        </div>



        <h1 class="text-3xl font-semibold text-center py-5 text-center pb-4 text-white">Admin Dashboard</h1>

        <a href="/logout/"
            class="border-2 border-red-600 text-red-500 font-semibold hover:bg-red-700 hover:text-white py-2 text-lg w-[150px] px-4 rounded mt-2">
            Logout
        </a>
    </div>
    <br>
    {% if user.is_authenticated and user.role == "ADMIN" %}
    <div class="px-8">
        <div id="home" class="content">
            <div class="flex flex-wrap gap-8">
                <!-- Total Registered Employees Card -->
                <div class="bg-white rounded shadow p-6  mx-auto w-[90%] md:w-[40%]">
                    <h2 class="text-xl font-semibold mb-4">Total Registered Employees</h2>
                    <p class="text-4xl font-bold text-center">{{ total_registered_employees }}</p>
                </div>

                <!-- Listed Leave Types Card -->
                <div class="bg-white rounded shadow p-6  mx-auto w-[90%] md:w-[40%]">
                    <h2 class="text-xl font-semibold mb-4">Listed Leave Types</h2>
                    <p class="text-4xl font-bold text-center">{{ listed_leave_types }}</p>
                </div>

                <!-- Total Leaves Card -->
                <div class="bg-white rounded shadow p-6  mx-auto w-[90%] md:w-[40%]">
                    <h2 class="text-xl font-semibold mb-4">Total Leaves</h2>
                    <p class="text-4xl font-bold text-center">{{ total_leaves }}</p>
                </div>

                <!-- Approved Leaves Card -->
                <div class="bg-white rounded shadow p-6  mx-auto w-[90%] md:w-[40%]">
                    <h2 class="text-xl font-semibold mb-4">Approved Leaves</h2>
                    <p class="text-4xl font-bold text-center">{{ approved_leaves }}</p>
                </div>

                <!-- New Leave Applications Card -->
                <div class="bg-white rounded shadow p-6  mx-auto w-[90%] md:w-[40%]">
                    <h2 class="text-xl font-semibold mb-4">New Leave Applications</h2>
                    <p class="text-4xl font-bold text-center">{{ new_leave_applications }}</p>
                </div>

            </div>
            <br>
            <!-- Existing Users Section -->
            <div class="bg-white rounded shadow p-6">
                <h2 class="text-xl font-semibold mb-4">Existing Users</h2>
                <input type="text" id="userFilter" class="border-gray-300 border w-full px-3 py-2 rounded mb-4"
                    placeholder="Filter by Name or Email" />
                <table class="w-full">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th>Date of Joining</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="userTableBody">
                        {% for user in all_users %}
                        {% if user.role != 'ADMIN' %}
                        <tr class="{% cycle 'bg-gray-50' 'bg-white' %}">
                            <td class="border border-gray-300 px-4 py-2 text-center">{{ user.name }}</td>
                            <td class="border border-gray-300 px-4 py-2 text-center">{{ user.email }}</td>
                            <td class="border border-gray-300 px-4 py-2 text-center text-wrap">{{ user.role }}</td>
                            <td class="border border-gray-300 px-4 py-2 text-center">{{ user.date_of_joining }}</td>
                            <td class="border border-gray-300 px-4 py-2 text-center">
                                {% if user.is_active %}
                                <span class="text-green-500 font-semibold">ACTIVE</span>
                                {% else %}
                                <span class="text-red-500 font-semibold">INACTIVE</span>
                                {% endif %}
                            </td>
                            <td class="border border-gray-300 px-4 py-2 text-center">
                                {% if user.is_active %}
                                <form method="post" action="{% url 'toggle_user_status' user.id 'inactive' %}">
                                    {% csrf_token %}
                                    <button type="submit"
                                        class="bg-red-500 hover:bg-red-700 text-white font-semibold py-2 px-4 rounded">Mark
                                        Inactive</button>
                                </form>
                                {% else %}
                                <form method="post" action="{% url 'toggle_user_status' user.id 'active' %}">
                                    {% csrf_token %}
                                    <button type="submit"
                                        class="bg-green-500 hover:bg-green-700 text-white font-semibold py-2 px-4 rounded">Mark
                                        Active</button>
                                </form>
                                {% endif %}
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <br>

        <!-- Create New User Section -->
        <div id="user" class="content hidden bg-white rounded shadow p-6  mx-auto ">
            <h2 class="text-xl font-semibold mb-4">Create New User</h2>
            <form method="post" action="/create-user/" class="space-y-4">
                {% csrf_token %}
                <label for="name" class="block">Name:</label>
                <input type="text" id="name" name="name"
                    class="block w-full border border-gray-300 rounded-md px-3 py-2 mb-2" /><br />

                <label for="email" class="block">Email:</label>
                <input type="email" id="email" name="email"
                    class="block w-full border border-gray-300 rounded-md px-3 py-2 mb-2" /><br />

                <label for="password" class="block">Password:</label>
                <input type="password" id="password" name="password"
                    class="block w-full border border-gray-300 rounded-md px-3 py-2 mb-2" /><br />

                <label for="role" class="block">Role:</label>
                <select id="role" name="role" class="block w-full border border-gray-300 rounded-md px-3 py-2 mb-2">
                    {% for role in user.Role.choices %}
                    <option value="{{ role.0 }}">{{ role.1 }}</option>
                    {% endfor %}
                </select><br />

                <label for="gender" class="block">Gender:</label>
                <select id="gender" name="gender" class="block w-full border border-gray-300 rounded-md px-3 py-2 mb-2">
                    {% for gender in user.Gender.choices %}
                    <option value="{{ gender.0 }}">{{ gender.1 }}</option>
                    {% endfor %}
                </select><br />

                <label for="emp_code" class="block">Employee Code:</label>
                <input type="text" id="emp_code" name="emp_code"
                    class="block w-full border border-gray-300 rounded-md px-3 py-2 mb-2" /><br />

                <label for="dept" class="block">Department:</label>
                <select id="dept" name="dept" class="block w-full border border-gray-300 rounded-md px-3 py-2 mb-2">
                    {% for department in user.Department.choices %}
                    <option value="{{ department.0 }}">{{ department.1 }}</option>
                    {% endfor %}
                </select><br />

                <label for="address" class="block">Address:</label>
                <input type="text" id="address" name="address"
                    class="block w-full border border-gray-300 rounded-md px-3 py-2 mb-2" /><br />

                <label for="city" class="block">City:</label>
                <input type="text" id="city" name="city"
                    class="block w-full border border-gray-300 rounded-md px-3 py-2 mb-2" /><br />

                <label for="country" class="block">Country:</label>
                <input type="text" id="country" name="country"
                    class="block w-full border border-gray-300 rounded-md px-3 py-2 mb-2" /><br />

                <label for="mobile_number" class="block">Mobile Number:</label>
                <input type="text" id="mobile_number" name="mobile_number"
                    class="block w-full border border-gray-300 rounded-md px-3 py-2 mb-2" /><br />

                <label for="date_of_joining" class="block">Date of Joining:</label>
                <input type="date" id="date_of_joining" name="date_of_joining"
                    class="block w-full border border-gray-300 rounded-md px-3 py-2 mb-2" /><br />

                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded">
                    Create User
                </button>
            </form>
        </div>



        <br>
        <!-- Pending Leaves  -->
        <div id="pending" class="content hidden bg-white rounded shadow p-6">
            <h2 class="text-xl font-semibold mb-4">Pending Leave Applications</h2>
            <hr class="bg-black py-[1px] w-[90%] mb-5">

            <table class="w-full table">
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Leave Category</th>
                        <th>From Date</th>
                        <th>To Date</th>
                        <th>Status</th>
                        <th>Actions</th> <!-- New column for actions -->
                    </tr>
                </thead>
                <tbody>
                    {% for application in all_leave_applications_pending %}
                    <tr class="{% cycle 'bg-gray-50' 'bg-white' %}">
                        <td class="border border-gray-300 px-4 py-2 text-center">{{ application.user }}</td>
                        <td class="border border-gray-300 px-4 py-2 text-center">{{ application.leave_category }}</td>
                        <td class="border border-gray-300 px-4 py-2 text-center">{{ application.from_date }}</td>
                        <td class="border border-gray-300 px-4 py-2 text-center">{{ application.to_date }}</td>
                        <td class="border border-gray-300 px-4 py-2 text-center">Pending</td>
                        <td class="border border-gray-300 px-4 py-2 text-center">
                            <form method="post" action="{% url 'approve_leave' application.id %}">
                                {% csrf_token %}
                                <!-- Other fields -->
                                <label for="admin_remark">Admin Remark:</label>
                                <textarea id="admin_remark" name="admin_remark" rows="4" cols="30"
                                    class="border border-gray-300 rounded px-2 py-1 outline-none"></textarea><br />
                                <button type="submit"
                                    class="bg-green-500 hover:bg-green-700 text-white font-semibold py-2 px-4 rounded">Approve
                                    Leave</button>
                            </form>

                            <form method="post" action="{% url 'disapprove_leave' application.id %}">
                                {% csrf_token %}
                                <!-- Other fields -->
                                <label for="admin_remark">Admin Remark:</label>
                                <textarea id="admin_remark" name="admin_remark" rows="4" cols="30"
                                    class="border border-gray-300 rounded px-2 py-1 outline-none"></textarea><br />
                                <button type="submit"
                                    class="bg-red-500 hover:bg-red-700 text-white font-semibold py-2 px-4 rounded">Disapprove
                                    Leave</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <br>

        <!-- Approved Leave Applications Section -->
        <div id="approved" class=" hidden content bg-white rounded shadow p-6">
            <h2 class="text-xl font-semibold mb-4">Approved Leave Applications</h2>
            <hr class="bg-black py-[1px] w-[90%] mb-5">

            <table class="w-full table">
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Leave Category</th>
                        <th>From Date</th>
                        <th>To Date</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for application in all_leave_applications_approved %}
                    <tr class="{% cycle 'bg-gray-50' 'bg-white' %}">
                        <td class="border border-gray-300 px-4 py-2 text-center">{{ application.user }}</td>
                        <td class="border border-gray-300 px-4 py-2 text-center">{{ application.leave_category }}</td>
                        <td class="border border-gray-300 px-4 py-2 text-center">{{ application.from_date }}</td>
                        <td class="border border-gray-300 px-4 py-2 text-center">{{ application.to_date }}</td>
                        <td class="border border-gray-300 px-4 py-2 text-center">Approved</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <br>
        <!-- Disapproved Leave Applications Section -->
        <div id="disapproved" class="content hidden bg-white rounded shadow p-6">
            <h2 class="text-xl font-semibold mb-4">Disapproved Leave Applications</h2>
            <hr class="bg-black py-[1px] w-[90%] mb-5">

            <table class="w-full table">
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Leave Category</th>
                        <th>From Date</th>
                        <th>To Date</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for application in all_leave_applications_disapproved %}
                    <tr class="{% cycle 'bg-gray-50' 'bg-white' %}">
                        <td class="border border-gray-300 px-4 py-2 text-center">{{ application.user }}</td>
                        <td class="border border-gray-300 px-4 py-2 text-center">{{ application.leave_category }}</td>
                        <td class="border border-gray-300 px-4 py-2 text-center">{{ application.from_date }}</td>
                        <td class="border border-gray-300 px-4 py-2 text-center">{{ application.to_date }}</td>
                        <td class="border border-gray-300 px-4 py-2 text-center">Disapproved</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <br>
        <!-- Employee Leaves Section -->
        <div id="empleaves" class="content hidden rounded shadow p-6">
            <h2 class="text-xl font-semibold mb-4">Employee Leaves</h2>
            <hr class="bg-black py-[1px] w-[90%] mb-5">
            <input type="text" id="employeeLeaveFilter" class="border-gray-300 border w-full px-3 py-2 rounded mb-4"
                placeholder="Filter by User or Leave Category" />
            <table class="w-full table">
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Leave Category</th>
                        <th>Leaves Remaining</th>
                    </tr>
                </thead>
                <tbody id="employeeLeaveTableBody">
                    {% for leaves in all_employee_leaves %}
                    <tr class="{% cycle 'bg-gray-50' 'bg-white' %}">
                        <td class="border border-gray-300 px-4 py-2 text-center">{{ leaves.user }}</td>
                        <td class="border border-gray-300 px-4 py-2 text-center">{{ leaves.leave_category }}</td>
                        <td class="border border-gray-300 px-4 py-2 text-center">{{ leaves.leaves_remaining }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <br>
        <!-- Leave Categories Section -->
        <div class="bg-white rounded shadow p-6">
            <h2 class="text-xl font-semibold mb-4">Leave Categories</h2>
            <hr class="bg-black py-[1px] w-[90%] mb-5">
            <table class="w-full table">
                <thead>
                    <tr>
                        <th>Leave Type</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for category in all_leave_categories %}
                    <tr class="{% cycle 'bg-gray-50' 'bg-white' %}">
                        <td class="border border-gray-300 px-4 py-2 text-center">{{ category.leave_type }}</td>
                        <td class="border border-gray-300 px-4 py-2 text-center">{{ category.description }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    </div>
    {% else %}
    <p class="text-center text-red-500">
        You are not authorized to view this page.
    </p>
    {% endif %}

    <script>
        // Filter functionality for Existing Users table
        document
            .getElementById("userFilter")
            .addEventListener("input", function () {
                const filterValue = this.value.toLowerCase();
                const rows = document.querySelectorAll("#userTableBody tr");
                rows.forEach((row) => {
                    const name = row.children[0].textContent.toLowerCase();
                    const email = row.children[1].textContent.toLowerCase();
                    if (name.includes(filterValue) || email.includes(filterValue)) {
                        row.style.display = "";
                    } else {
                        row.style.display = "none";
                    }
                });
            });

        // Filter functionality for Leave Applications table
        document
            .getElementById("leaveFilter")
            .addEventListener("input", function () {
                const filterValue = this.value.toLowerCase();
                const rows = document.querySelectorAll("#leaveTableBody tr");
                rows.forEach((row) => {
                    const user = row.children[0].textContent.toLowerCase();
                    const leaveCategory = row.children[1].textContent.toLowerCase();
                    if (
                        user.includes(filterValue) ||
                        leaveCategory.includes(filterValue)
                    ) {
                        row.style.display = "";
                    } else {
                        row.style.display = "none";
                    }
                });
            });
        // Filter functionality for Employee Leaves table
        document
            .getElementById("employeeLeaveFilter")
            .addEventListener("input", function () {
                const filterValue = this.value.toLowerCase();
                const rows = document.querySelectorAll("#employeeLeaveTableBody tr");
                rows.forEach((row) => {
                    const user = row.children[0].textContent.toLowerCase();
                    const leaveCategory = row.children[1].textContent.toLowerCase();
                    if (
                        user.includes(filterValue) ||
                        leaveCategory.includes(filterValue)
                    ) {
                        row.style.display = "";
                    } else {
                        row.style.display = "none";
                    }
                });
            });



        //for sidebar
        function toggleSidebar() {
            const sidebar = document.getElementById('sidebar');
            sidebar.classList.toggle('hidden');
        }


        //tab switching function
        function showContent(id) {
            const contents = document.getElementsByClassName('content');
            for (let content of contents) {
                if (content.id === id) {
                    content.classList.remove('hidden');
                } else {
                    content.classList.add('hidden');
                }
            }
        }
    </script>
</body>

</html>